﻿@model ArcanoxSite.Models.Home.IndexViewModel

@{
	ViewData[ "Title" ] = "Home";
}

@section Scripts {
	<script src="~/js/Pages/Index.js" asp-append-version="true"></script>
}

<div class="form-holder">
	<form id="LightsForm" method="post">
		<div class="form-group mx-sm-3">
			<label asp-for="Brightness"></label>
			<div class="input-group mb-3">
				<div class="input-group-prepend">
					<button formaction="@Url.Action( "DecreaseBrightness" )" class="btn btn-outline-primary">-</button>
				</div>

				<input type="text" class="form-control" asp-for="Brightness" readonly/>

				<div class="input-group-append">
					<button formaction="@Url.Action( "IncreaseBrightness" )" class="btn btn-outline-primary">+</button>
				</div>
			</div>
		</div>
		<div class="form-group mx-sm-3">
			<label asp-for="ColorOverride"></label>
			<div class="input-group mb-3">
				<input type="text" class="form-control" asp-for="ColorOverride" />

				<div class="input-group-append">
					<button formaction="@Url.Action( "SetOverride" )" class="btn btn-outline-primary">&#10003;</button>
				</div>
			</div>
		</div>
		<div class="form-group mx-sm-3">
			<button formaction="@Url.Action( "ClearOverride" )" class="btn btn-outline-primary">Clear Override</button>
		</div>
		<div class="form-group mx-sm-3">
			<label>Lights are <b>@( Model.On ? "On" : "Off" )</b></label>
			<br/>
			<button formaction="@Url.Action( "ToggleLights" )" class="btn btn-primary">Turn Lights @( Model.On ? "Off" : "On" )</button>
		</div>
	</form>
</div>